@charset "UTF-8"
.wrapper{
  width: 1100px;
}

.box_size{
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0px auto;
}

@media (max-width: 960px){
.box_size{
  width: 200px;
  height: 200px;
}
}

.box_color{
  width: 300px;
  height: 300px;
  background:#ff0000;
  margin: 0px auto;
}

@media (max-width: 960px){
.box_color{
  background: #007bff;
  }
}

.flex__box{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flex__item{
  width: 300px;
  height: 300px;
}

.flex__item:nth-child(1){
  background: #0008ff;
}

.flex__item:nth-child(2){
  background: #22ff00;
  margin: 0 150px;
}

@media (max-width: 960px){
.flex__item:nth-child(2){
  margin: 0 50px;
  }
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.red_box{
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  float: left;
  background: #ff0000
}

.bleu_box2 {
  width: 300px;
  height: 300px;
  float: left;
  background: #0008ff;
}

@media (max-width: 960px){
.bleu_box2{
  float: none;
  clear: both;
  }
}

.flex_box{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flex_item{
  width: 300px;
  height: 300px;
  line-height: 300px;
  color: black;
  text-align: center;
}

.flex_item:nth-child(1){
  background: #ff0000;
}

.flex_item:nth-child(2){
  background: #0008ff;
}

.flex_item:nth-child(3){
  background: #ff8400;
}

@media (max-width: 960px){
.flex_box{
  flex-direction: row-reverse;
  }
}

.flex_box2{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flex_item2{
  width: 300px;
  height: 300px;
  line-height: 300px;
  color: black;
  text-align: center;
}

.flex_item2:nth-child(1){
  background: #00ff51;
}

.flex_item2:nth-child(2){
  background: #d4ff00;
}

.flex_item2:nth-child(3){
  background: #ff00e1;
}

@media (max-width: 960px){
.flex_item2:nth-child(3){
  order: -1;
  }
}

.flex_box3{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flex_item3{
  width: 300px;
  height: 300px;
}

.flex_item3:nth-child(1){
  background: #ff0000;
}

.flex_item3:nth-child(2){
  background: #00ff51;
}

.flex_item3:nth-child(3){
  background: #0008ff;
  display: none;
}

@media (max-width: 960px){
.flex_item3:nth-child(3){
  display: flex;
  }
}